@font-face {
  font-family: 'Gerbera';
  src: url(../fonts/Gerbera/Gerbera.woff) format('woff');
}

body {
    background: #ECF0F1;
    font-family: "Gerbera", Helvetica, Arial, sans-serif;
}

.navbar {
    border-radius: 0px;
    background: #2980B9;
    /*border-color: #2C3E50;*/
    border: 0;
}

nav.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*color: #fff;*/
    background-color: #E74C3C;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(231, 76, 60, 0.25);
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff ;
}

.navbar-inverse .navbar-brand {
     color: #fff;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #2C3E50;
}

hr.line {
    margin: 10px 0;
}

.cardnote {
    text-align: center;
    font-size: 25px;
}

.edu-settings [class*="col-"] {
    margin-bottom: 15px;
}

/*.edu-content {
    margin-top: -23px;
}*/

.edu-content .card-wrapper {
    background: rgba(52, 152, 219, 0.25);
    padding: 20px 0 10px 0;
}

.edu-controls button {
    font-size: 40px;
    margin: 0 1%;
    border-radius: 50px;
}

.edu-numbers {
    margin-bottom: 50px;
}

.edu-numbers .btn {
    margin: 5px 0;
    font-size: 20px;
    width: 50px;
}

.top-buffer {
    margin-top:25px;
}

.displayNone{
    display:none;
}

.currentNumber {
    box-shadow: inset 0px 0px 1px 1px #F00;
}

.categories-label {
    position: relative;
}

.hide-others {
    position: absolute;
    font-size: 10px;
    right: 12px;
    top: 4px;
    cursor: pointer;
}

.add-category-wrapper {
    margin: 0px 10px 15px;
}

.add-card-wrapper {
     margin: 0px 10px 40px;
}

.add-category-wrapper button, .add-card-wrapper button {
    border: 1px solid #ccc;
    margin-top: -2px;
}

.translation-input {
    margin-top: 5px;
}

.add-category-button {
    margin-left: 5px !important;
}
.add-card-button {
    height: 73px;
    margin-left: 5px !important;
}

.pink-background{
    background: #E74C3C !important;
    color: white;
}

.react-bs-table tr {
    background-color: #fff;
}

nav.footer {
    background: #2C3E50;
    min-height: 30px;
    height: 30px;
}

.congrats {
    color: #449d44;
    text-align: center;
    font-size: 25px;
}

.progress {
    height: 35px;
}

.spinner{
    background: url('../img/gears.gif');
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
}